click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.10
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
nltk==3.6.1
numpy==1.20.2
Pillow==8.2.0
regex==2021.4.4
six==1.15.0
https://download.pytorch.org/whl/cpu/torch-1.8.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
torchaudio==0.8.0
torchvision==0.9.0
tqdm==4.60.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
